<div class="shop-navigation-wrapper">
  {% render 'shop-navigation' %}
</div>

{% schema %}
{
  "name": "Shop Navigation",
  "settings": [],
  "presets": [
    {
      "name": "Shop Navigation"
    }
  ]
}
{% endschema %}
